go 1.24.0

use (
	./internal
	./mqtt
	./protocol
	./samples/application/eventdrivenapp/
	./samples/protocol/cloudevents/client
	./samples/protocol/cloudevents/envoy
	./samples/protocol/cloudevents/server
	./samples/protocol/counter/client
	./samples/protocol/counter/envoy
	./samples/protocol/counter/server
	./samples/protocol/greeter/client
	./samples/protocol/greeter/envoy
	./samples/protocol/greeter/server
	./samples/services/leasedlock
	./samples/services/schemaregistry
	./samples/services/statestore
	./samples/wasm/source
	./services
	./test/integration
	./test/protocol
	./wasm
)

// **********************************************************************
// * The replace directives here determine the published version of the *
// * github.com/Azure/iot-operations-sdks modules.                      *
// *                                                                    *
// * Changing these versions will trigger a release.                    *
// **********************************************************************
replace (
	github.com/Azure/iot-operations-sdks/go/internal v0.3.0 => ./internal
	github.com/Azure/iot-operations-sdks/go/mqtt v0.4.0 => ./mqtt
	github.com/Azure/iot-operations-sdks/go/protocol v0.4.0 => ./protocol
	github.com/Azure/iot-operations-sdks/go/services v0.3.0 => ./services
)
